coordinadores-app/node_modules/
coordinadores-app/dist/
dist/
distr/
node_modules/
**/node_modules/
**/dist/
**/distr/

# Ignorar todas las bases de datos SQLite locales de producción
**/*.db

# Permitir explícitamente la base de datos de plantilla
!coordinadores-app/plantilla.db

# Ignorar ejecutables e instaladores compilados
coordinadores-instalado/
manuales.lnk
