coordinadores-app/node_modules/
coordinadores-app/dist/
dist/
distr/
node_modules/
**/node_modules/
**/dist/
**/distr/

# Ignorar todas las bases de datos SQLite locales de producción
**/*.db

# Permitir explícitamente la base de datos de plantilla
!coordinadores-app/plantilla.db

# Ignorar ejecutables e instaladores compilados
coordinadores-instalado/
manuales.lnk

# Archivos basura, backups y datos de usuario locales
coordinadores-app/Backups/
coordinadores-app/dades/dades Albert/
coordinadores-app/dades/dades Laura/
coordinadores-app/dades/temp/
coordinadores-app/src/sac/sac.zip
coordinadores-app/src/backup.json
coordinadores-app/src/esborrall.json
coordinadores-app/test_laura_parkings.js
coordinadores-app/src/deutes/deutes.json
coordinadores-app/src/ranking/js/data.json
